@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) { /* STYLES GO HERE */

#section-holder {
  border-left: 20px solid #FF8300;
  border-right: 20px solid #FF8300;
}

#about p {
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  color: #C0C0C0;
}

#parallax1 {
  background-image: url("Images/main-header.jpg");
  min-height: 200px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax1 h1 {
  color: white;
  font-size: 65px;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 50px;
  letter-spacing: 10px;
}

navbar {
  text-align: center;
  position: relative;
  display: none;

}

#skills {
  height: auto;
  width: 100%;
  background-color: #22252A;
  padding-bottom: 15px;
}

#portfolio {
  height: auto;
  width: 100%;
  background-color: #22252A;
  padding-bottom: 15px;
}

}


@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) {


  #section-holder {
    border-left: 20px solid #FF8300;
    border-right: 20px solid #FF8300;
  }

  #about p {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    color: #C0C0C0;
    font-size: 120%;
  }

  #parallax1 {
    background-image: url("Images/main-header.jpg");
    min-height: 200px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #parallax1 h1 {
    color: white;
    font-size: 65px;
    font-family: "Lato", sans-serif;
    text-align: center;
    padding-top: 50px;
    letter-spacing: 10px;
  }

  navbar {
    text-align: center;
    position: relative;
    display: none;

  }

  #skills {
    height: auto;
    width: 100%;
    background-color: #22252A;
    padding-bottom: 15px;
  }


  #portfolio {
    height: auto;
    width: 100%;
    background-color: #22252A;
    padding-bottom: 15px;
  }





}
